// Primary Colors
$violet: #5964e0;
$lightViolet: #939bf4;
$veryDarkBlue: #19202d;
$midnight: #121721;

// Secondary Colors
$white: #fff;
$lightGrey: #f4f6f8;
$grey: #9daec2;
$darkGrey: #6e8098;

// Typography
$typeKumbh: "Kumbh Sans", sans-serif;

// Fonts
$fontLogo: 2rem; //32px
$fontH1: 1.75rem; //28px
$fontH2: 1.5rem; //24px
$fontH3: 1.25rem; //20px
$fontH4: 0.875rem; //14px
$fontBody: 1rem; //16px

$fontWeights: (
  "light": 300,
  "regular": 400,
  "bold": 700,
);
